<%= form_with(model: film, local: true) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture_url %>
    <%= form.text_field :picture_url, id: :film_picture_url %>
  </div>

  <div class="field">
    <%= form.label :user_rating %>
    <%= form.number_field :user_rating, id: :film_user_rating %>
  </div>

  <div class="field">
    <%= form.label :age_rating %>
    <%= form.text_field :age_rating, id: :film_age_rating %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :film_description %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :film_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
